body{
    background: #333;
    background-size: cover;
    font-family: Lato, helvetica;
    overflow: hidden;
}


#canvas1{
	position: absolute;
	top:0;
	left:0;	
	/*background-color: green;*/
    /*z-index:2147483647;*/
    /*z-index: 2147483647;*/
	opacity: 1;
}
#canvas2{
	position: absolute;
	top:500px;
	left:0;
	background-color: blue;
	/*z-index : 20;*/
}
#ourvideo{
	position: absolute;
	top:0;
	left:0;
	width: 640px;
	height: 480px;
	/*z-index: 30;*/
}
#textinput1{
	/*z-index: 2147483647;*/
}

#happy1{
    position: relative;
    width:100px;
    height: 100px;
    border-radius: 80px;
    font-size: 16pt;
    background: crimson;
    color:#fff;
    cursor: pointer;
    border: none;
    float: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);

}
#sad1{

    position: relative;
    width:100px;
    height: 100px;
    border-radius: 80px;
    font-size: 16pt;
    background: #90ee90;
    color:#fff;
    cursor: pointer;
    border: none;
    float: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#textinput2, #textinput1{
    background: #222;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding:4px 8px;
    box-shadow: 0px 0px 5px rgba(255,255,255,0.6);
    outline-style: none;
}

#textinput1{
    float: left;
    position: absolute;
}
#emoticonPanel{
    position: absolute;
}
#permissionSelect{
    position: absolute;
}
select{
    float: left;
}

input{
    float: left;
}
#textinput2:focus, #textinput1:focus{
    box-shadow: 0px 0px 5px rgba(150,150,255,0.8), 0px 0px 2px rgba(0,0,0,0.8) inset;
    color:#fff;
    background: #2a4aee;
}

.emoticon_button{
    width:30px;
    box-shadow: none;
    background: none;
}

#emoticonTable{
    background: #ff0;
}