#canvas1
{
	position: absolute;
	top:0;
	left:0;	
	width: 640px;
	height: 430px;
	/*background-color: green;*/
	/*opacity: 0.4;*/
}
#canvas2
{
	position: absolute;
	top:500px;
	left:0;
	width: 640px;
	height: 130px;
	/*background-color: blue;*/
	/*z-index : 20;*/
}
#ourvideo
{
	position: absolute;
	top:0;
	left:0;
	width: 640px;
	height: 480px;
	/*z-index: 30;*/
}
#textinput1
{
	z-index: 20;
}