@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {
    /*background: #333;*/
    background-size: cover;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: Lato, helvetica;

    /*overflow: hidden;*/
}

#fontSelect {

}

#charWrapper {
    z-index: 20;
    background-color: indianred;
}

/*.thumbnailContainer{*/
/*width: 40%;*/
/*height: 40%;*/
/*background: #444;*/
/*margin : 0 auto;*/
/*}*/

/*.thumbnailContainer img.wide {*/
/*max-width: 100%;*/
/*max-height: 100%;*/
/*height: auto;*/
/*}*/
/*.thumbnailContainer  img.tall {*/
/*max-height: 100%;*/
/*max-width: 100%;*/
/*width: auto;*/
/*}​*/

#youtube {
    position: absolute;
    top: 0;
    left: 0;
}

#mytimeline {
    position: relative;
    top: 200px;

}

#texturl {
    position: absolute;

}

#sendurl {
    position: absolute;
    top: 600px;
    left: 150px;

}

#canvas1 {
    /*position: absolute;*/
    /*top:300;*/
    /*left:300;*/
    /*z-index:-30;*/
    /*width: 600px;*/
    /*height: 460px;*/
    /*background-color: green;*/
    /*z-index:20;*/

    /*z-index: 2147483647;*/
    /*opacity: 1;*/
}

#canvas2 {
    position: absolute;
    top: 500px;
    left: 0;
    /*width: 600px;*/
    /*height : 300px;*/
    background-color: blue;

    /*z-index : 20;*/
}

#canvasMyChat {
    position: absolute;
    top: 100px;
    left: 0px;
    background: greenyellow;
    /*opacity: 0.3;*/
}

#canvasFriendChat {

    position: absolute;
    top: 100px;
    left: 980px;
    background: burlywood;
    /*opacity: 0.3;*/
}

#ourvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    /*z-index: 30;*/
}

#textinput2 {
    position: absolute;
    top: 500px;
    left: 390px;
    width: 500px;
    opacity: 0.4;
    z-index: 2147483647;
}

#happy1 {
    position: relative;
    top: 550px;
    left: 400px;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    font-size: 16pt;
    background: crimson;
    color: #fff;
    cursor: pointer;
    border: none;
    float: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 2147483647;
}

#sad1 {

    position: relative;
    top: 550px;
    left: 600px;
    width: 100px;
    height: 100px;
    border-radius: 80px;
    font-size: 16pt;
    background: #90ee90;
    color: #fff;
    cursor: pointer;
    border: none;
    float: left;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    z-index: 2147483647;
}

#textinput2, #textinput1 {
    background: #222;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 4px 8px;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.6);
    outline-style: none;
    font-size:17px;
    height : 30px;
    width: 100px;
}

#textinput1 {
    /*float: left;*/
    width: 100px;
    height: 20px;
    position: absolute;
    z-index: 30000;
}

#profileImg {
    position: absolute;
    width: 30px;
    height: 30px;
    /*float: left;*/
    z-index: 30000;
}

#emoticonPanel {
    position: absolute;

    z-index: 30;

}

.emoticon_button {

    width: 30px;
    height: 30px;
    box-shadow: none;
    background: none;
    float: left;
}

#permissionSelect {
    position: absolute;
    z-index: 40;
}

select {
    float: left;
}

input {
    float: left;
}

#textinput2:focus, #textinput1:focus {
    box-shadow: 0px 0px 5px rgba(150, 150, 255, 0.8), 0px 0px 2px rgba(0, 0, 0, 0.8) inset;
    color: #fff;
    background: #2a4aee;
}

#responseSummaryPanel {
    position: absolute;
    top: 800px;
    width: 100px;
    height: 100px;
    background: lightgoldenrodyellow;

}

/*#text {*/
/*font: 12px sans-serif;*/

/*position: absolute;*/
/*top:900px;*/
/*left:0;*/

/*}*/

#stackedarea {
    height: 110px;
    width: 700px;
    position: relative;
    top: 0px;
    left: 0px;
}

/*line chart */

svg {
    display: block;
}

#linechart {
    height: 100px;
    width: 700px;
    min-width: 100px;
    min-height: 100px;
    position: relative;
    top: 0px;
    left: 0px;
}

/*pichart*/
#pichart {
    position: relative;
    top: 800px;
    left: 0;

}

/*half chart*/
#halfchart {
    position: relative;
    top: 800px;
    left: 0;

}

.mypiechart {
    width: 500px;
    border: 2px;
}

/*scatter_chart*/

#offsetDiv {
    margin-left: 100px;
    margin-top: 100px;
}

#scatterchart {
    margin: 0;
    position: absolute;
    top: 800px;
    left: 0;
    width: 1500px;
}

#scatterchart svg {
    height: 1500px;
    width: 1000px;

}

#barchart {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 140px;
    width: 700px;
    margin: 10px;
    min-width: 100px;
    min-height: 100px;
}

