<!DOCTYPE html>
<html>
<head>
    <title>anbado player example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <!--<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='external/popcorn-complete-modified.js') }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.createjs.com/easeljs-0.6.1.min.js"></script>

    <!--서버 솔루션과 연동되는 부분-->
    <script type="text/javascript" src="{{ url_for('static', filename='external/socket.io/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anbadoRealtime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anbadoRestful.js') }}"></script>
    <script type="text/javascript">
        anbado.realtime.setPrefixURL("http://localhost:8888");
        anbado.restful.setPrefixURL("http://localhost:8888");
    </script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='external/d3/d3.v3.js') }}"></script>
    <script src="{{ url_for('static', filename='external/d3/nv.d3.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basicCSS.css') }}">

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='external/timelinejs/timeline.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timelineSummary.css') }}">


    <script type="text/javascript" src="{{ url_for('static', filename='clientGlobalVar.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='Init.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='getURL.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='makeAnnotationEmoticon.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='summaryPanel.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='eventGenerate.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='timelineChart.js') }}"></script>

    <script>
        var testObj = new anbadoTimeLine("player");
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='timeCheck.js') }}"></script>

    <link href="{{ url_for('static', filename='external/d3/nv.d3.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='examples/css/layout.css') }}">


</head>
<body>
<div id="wrapper">
    <div id="container">
        <div id="top">
            <div id="logo"></div>
            <div id="sub_txt">Default Example, anbado video solution</div>
            <div id="signin_pannel">
                <button id="top_default" class="active">Default Example</button>
                <button id="top_signin" onclick="location.href='{{ url_for('example', name='timeline') }}';">Example1</button>
                <button id="top_signup" onclick="location.href='{{ url_for('example', name='webRTC') }}';">Example2</button>
            </div>
        </div>
    </div>
</div>

{#<div>#}
{#    <select id="graphSelector" name="graph" onchange="graphselect();">#}
{#        <option value="1" selected="selected">area graph</option>#}
{#        <option value="2">line graph</option>#}
{#        <option value="3">pie graph</option>#}
{#        <option value="4">halfpie graph</option>#}
{#        <option value="5">bar chart</option>#}
{#    </select>#}
{#</div>#}
{#<input id="happy" type="button" onclick="happybutton()" value="happy">#}
{#<input id="sad" type="button" onclick="sadbutton()" value="sad">#}

<div id="middle">
    <div id="player_wrap">


        <div id="player">


        </div>
    <div style='position: relative;top:100px;'>
    <select id="graphSelector" name="graph" onchange="graphselect();">
        <option value="1" selected="selected">area graph</option>
        <option value="2">line graph</option>
        <option value="3">pie graph</option>
        <option value="4">halfpie graph</option>
        <option value="5">bar chart</option>
    </select>

<input id="happy" type="button" onclick="happybutton()" value="happy">
<input id="sad" type="button" onclick="sadbutton()" value="sad">
</div>

        <div id="player_shadow"></div>


        <!--<div id="areadiv"></div>-->

    </div>



</div>


<!--<input type="button" class="bt_all_player bt_play" value="play">-->
<!--<input type="button" class="bt_all_player bt_like" value="like">-->


<!--<button id="socket-io-connect">socket.io connect</button>-->
<!--<button id="socket-io-disconnect">socket.io disconnect</button>-->


<!--<select id = "fontSelect">-->
<!--<option value="Ariel">아리엘</option>-->
<!--<option selected value="Dotum">돋움</option>-->
<!--<option value="Times">타임즈</option>-->
<!--<option value="Helvetica">헬베티카</option>-->
<!--</select>-->


<select id="fontSizeSelect" style="display: none">
    <option value="10">20</option>
    <option value="20" selected="selected">20</option>
    <option value="30">30</option>
</select>

<!--<div>-->

<!--<select id="graphSelector" name="graph" onchange="graphselect();">-->
<!--<option value = "1" selected="selected">area graph</option>-->
<!--<option value = "2">line graph</option>-->
<!--<option value = "3">pie graph</option>-->
<!--<option value = "4">halfpie graph</option>-->
<!--<option value = "5">bar chart</option>-->
<!--</select>-->

<!--</div>-->


<!--<input id="textinput2" type = "text" value = "interactive"/>-->




{#<img id="profileImg" src="{{ url_for('static', filename='examples/img/profile0.png') }}"/>#}
{##}
{#<div id="emoticonPanel">#}
{##}
{#    <input id="emoticon0" type="image" src="{{ url_for('static', filename='examples/img/emoticon0.png') }}" name="button" value="emo1"#}
{#           class="emoticon_button"/>#}
{#    <input id="emoticon1" type="image" src="{{ url_for('static', filename='examples/img/emoticon1.png') }}" name="button" value="emo2"#}
{#           class="emoticon_button"/>#}
{#    <input id="emoticon2" type="image" src="{{ url_for('static', filename='examples/img/emoticon2.png') }}" name="button" value="emo3"#}
{#           class="emoticon_button"/>#}
{#    <input id="emoticon3" type="image" src="{{ url_for('static', filename='examples/img/emoticon3.png') }}" name="button" value="emo4"#}
{#           class="emoticon_button"/>#}
{##}
{##}
{#</div>#}

<div id="summary">
    <div id="mytimeline"></div>

</div>


<div id="main_bottom_wrap">
    <ul>
        <li>Help</li>
        <li>About</li>
        <li>Blog</li>
        <li>Jobs</li>
        <li>Privacy</li>
        <li>Terms of Use</li>
    </ul>

    <div id="bottom_company">anbado video team 2013. All Rights Reserved.</div>
</div>


</body>
</html>