<!DOCTYPE html>
<html>
<head>
    <title>anbado player example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">


    <!--<script src="http://popcornjs.org/code/dist/popcorn-complete.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='external/popcorn-complete-modified.js') }}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.createjs.com/easeljs-0.7.0.min.js"></script>

    <!--서버 솔루션과 연동되는 부분-->
    <script type="text/javascript" src="{{ url_for('static', filename='external/socket.io/socket.io.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anbadoRealtime.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anbadoRestful.js') }}"></script>
    <script type="text/javascript">
        anbado.realtime.setPrefixURL("http://localhost:8888");
        anbado.restful.setPrefixURL("http://localhost:8888");
    </script>

    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="{{ url_for('static', filename='external/d3/d3.v3.js') }}"></script>
    <script src="{{ url_for('static', filename='external/d3/nv.d3.js') }}"></script>


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='basicCSS.css') }}">

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='external/timelinejs/timeline.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='timelineSummary.css') }}">


    <script type="text/javascript" src="{{ url_for('static', filename='clientGlobalVar.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='initAnbado.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='getURL.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='makeAnnotationEmoticon.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='summaryPanel.js') }}"></script>


    <script type="text/javascript" src="{{ url_for('static', filename='thinkGenerate.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='timelineChart.js') }}"></script>

    <script>
        var testObj = new anbadoTimeLine("videoEmbed");
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='timeCheck.js') }}"></script>

    <link href="{{ url_for('static', filename='external/d3/nv.d3.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='examples/css/layout.css') }}">


</head>
<body>

<div id="player" style="width:100%; height: 100%;"></div>




</body>
</html>